.chat-side
  .side-header
    %h3.side-header__user-name user-name
    %ul.user-menu
      /アカウントの編集アイコン
      %li.icon
        = fa_icon 'edit', class: 'icon'
        -# =link_to edit_user_path(current_user) do
      /グループの新規作成アイコン
      %li.icon
        = fa_icon 'cog', class: 'icon'
        -# =link_to new_group_path do
  .groups
    .group
      .group__group-name test-group1
      .group__latest-message test-message1
    .group
      .group__group-name test-group2
      .group__latest-message test-message2
    .group
      .group__group-name test-group3
      .group__latest-message test-message3
  