.chat-main
  .main-header
    .current-group
      .current-group__name test-group1
      %ul.member-list 
        Member : 
        %li.member-list__member test-user
    .main-header__edit-btn Edit
  .message-box
    .message
      .upper-info
        %p.upper-info__user test-user
        %p.upper-info__date 2019/05/17(Fri)20:00:00
      %p.message__text test-message
    .message
      .upper-info
        %p.upper-info__user test-user
        %p.upper-info__date 2019/05/17(Fri)20:00:00
      %p.message__text test-message
    .message
      .upper-info
        %p.upper-info__user test-user
        %p.upper-info__date 2019/05/17(Fri)20:00:00
      %p.message__text test-message
    .message
      .upper-info
        %p.upper-info__user test-user
        %p.upper-info__date 2019/05/17(Fri)20:00:00
      %p.message__text test-message
    .message
      .upper-info
        %p.upper-info__user test-user
        %p.upper-info__date 2019/05/17(Fri)20:00:00
      %p.message__text test-message
    .message
      .upper-info
        %p.upper-info__user test-user
        %p.upper-info__date 2019/05/17(Fri)20:00:00
      %p.message__text test-message
  .form
    %form.new-message
      .input-box
        %p.input-box__text type a message
        %label.image-label
          = fa_icon "image"
      .input-box__send-btn Send


-# %input{:type => "submit", :value => "Send"}